<div class="container">
  <h5 class="title">{{ 'ChangePasswordPage.Title' | translate }}</h5>
  <form [formGroup]="changePasswordForm" id="changePasswordForm">
    <mat-form-field>
      <input matInput placeholder="{{ 'ChangePasswordPage.CurrentPassPlaceholder' | translate }}" type='password'
        formControlName="currentPassword" required>
      <mat-error *ngIf="changePasswordForm.get('currentPassword').hasError('required')">
        {{ 'ChangePasswordPage.CurrentPassErrorRequired' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ 'ChangePasswordPage.NewPassPlaceholder' | translate }}" type='password'
        formControlName="password" required>
      <mat-error *ngIf="changePasswordForm.get('password').hasError('required')">
        {{ 'ChangePasswordPage.NewPassErrorRequired' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ 'ChangePasswordPage.ConfirmPassPlaceholder' | translate }}" type='password'
        formControlName="confirmPassword" required>
      <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('mustMatch')">
        {{ 'ChangePasswordPage.PasswordsErrorMustMatch' | translate }}
      </mat-error>
    </mat-form-field>

    <button mat-raised-button (click)="changePassword()" color="primary"
      [disabled]="changePasswordForm.invalid">{{ 'ChangePasswordPage.ChangeBtn' | translate }}</button>
  </form>
</div>
