.container {

  #calendar-scheduler-trigger {
    display: flex;
    margin: 0 auto;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;

    i {
      margin-right: 10px;
    }
  }

  #created-appointments {
    margin-top: 20px;

    .appointment-card {
      padding: 8px;
      margin-bottom: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

      ::ng-deep.mat-card-header-text {
        width: 100%;
        color: #0b7a75;
        text-align: center;
      }

      .mat-card-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .left-section {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: flex-start;

          .start-date {
            font-weight: bold;
          }
        }

        .right-section {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: flex-end;
        }
      }
    }
  }
}

#enterAppointmentTitleDialog {

  form {

    mat-form-field {
      width: 100%;
    }
  }

  .actions {
    margin-left: auto;
  }
}
